<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <title>Document</title>
</head>
<body>
    <div class="background-image">
        <ul class="navbar">
            <li><a href="/about">About</a></li>
            <li><a href="/works">Character evolution</a></li>
            <li><a href="/photo">Photo galerie (comrades)</a></li>
            
        </ul>
        <p class ="text">Guts (Japanese: ガッツ) is a fictional character and the protagonist from the manga Berserk by Kentaro Miura. </p>
    </div>


</body>
</html>