<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/photo.css">
  <title>Photo Gallery</title>
</head>
<body>

  <div class="gallery">
    <div class="slide">
      <img src="images/griffith.jpg" alt="Photo 1">
      <h2>Griffith</h2>
      <P>Extraordinarily charismatic and skilled, Griffith is the leader of the mercenary group the Band of the Hawk. After meeting Guts, Griffith defeats him in battle and forces him to join the Band of the Hawk as the latter proclaims he now "owns" him</P>
    </div>
    <div class="slide">
      <img src="images/casca.jpg" alt="Photo 2">
      <h2>Casca </h2>
      <P>She is a member of the Falcon Brigade, led by Griffith, and second in command to him. She has the reputation of being the best fighter in the troop after Griffith and Guts.</P>
    </div>
    
  </div>

</body>
</html>
