<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/works.css">
    <title>Document</title>
</head>
<body> 
    <div class="container">
        <div class="background-image"></div>

    <p class="rising-text">
        0 years : <br> Guts was found shortly after his birth by Gambino's wife, Sis, lying in a pool of mud and blood beneath the corpse of his mother hanging from a tree. <br>
        3 years : <br>  At the age of 3, Sis died of an illness. His adoptive father, Gambino, blames him for this and holds a lifelong grudge. <br>
        6 years : <br> At the age of 6, he helped his father in battle.Guts is raised by Gambino as a soldier and learns how to handle weapons. He received the scar on his nose during training. <br>
        9 years : <br> At the age of 9, he took part in his first battle as a mercenary. During a battle, Gambino was wounded and became crippled. <br>
        11 years : <br> Guts was 11 years old at the time. One night, Gambino tried to kill him when he was drunk, and Guts mortally wounded him in self-defence. Surprised by the men of the troop and unable to explain himself, he has to flee. <br>
        15 years : <br> At 15, Guts is an experienced mercenary who travels from battlefield to battlefield. Following an attack on a castle, he meets Griffith and the Falcon troop. He becomes a member after a duel with Griffith. <br>
        18 years : <br> At 18, he was commander of the Falcon's shock troops. He meets Zodd the Immortal during a battle. Wounded, he and Griffith are treated in the capital. They meet the King. <br>
        20 years : <br> In his twenties, Guts left the Falcons. He travelled the land, training. He later joins the remnants of the Falcon troop and reunites with Griffith before the Eclipse takes place.... <br>
        22 years : <br> 1 year after finding what's left of the Falcon and Casca troupe, the Elipse takes place. Guts survives, but not without difficulty. He becomes "the Black Swordsman". <br>
    </p></div>
</body>
</html>